<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>430CTF1</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<section class="todoapp">
		<nav class="nav">
			<ul>
				<li class="user">
					<%= user.username %>
				</li>
				<li>
					<form action="/logout" method="post">
						<button class="logout" type="submit">Sign out</button>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					</form>
				</li>
			</ul>
		</nav>
		<header class="header">
			<h1>BANK</h1>
			<form action="/" method="post">
				<input class="new-todo" name="action" placeholder="enter action" autofocus>
				<input class="new-todo" name="amount" placeholder="enter amount" autofocus>
			</form>
		</header>
	</section>

</body>

</html>